{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'makeNews/mainpage.css' %}" type="text/css"/>
	<title>Ritik kumar</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'makeNews/mainpage.js' %}"></script>
</head>
<body>
<div class="container">
	<img id="tab" src="{% static 'makeNews/images/tab-min.png' %}" width="1000" height="300">
	<iframe src="{% static 'makeNews/background/background.html' %}" name="iframe_a" id="myframe" border="0" scrolling="no"></iframe>
	<div class="shadows">
		<span>r</span>
		<span>i</span>
	    <span>t</span>
	    <span>i</span>
	    <span>k </span>
	    <span> </span>
	    <span> k</span>
	    <span>u</span>
	    <span>m</span>
	    <span>a</span>
	    <span>r</span>
	</div>
	<h1 class="about">A<span
     		class="txt-rotate"
     		data-period="2000"
     		data-rotate='[ "n Android Dev Enthusiast.", " Computer Science Undergraduate." ]'>
     	</span>
	</h1>
	<div class="favourites_bar">
	  	<img src="{% static 'makeNews/images/github1.png' %}" class="icon one" width="50" height="50" alt="github" id="one" onclick="window.open('https://github.com/dev-ritik', '_blank');"></img>
	  	<img src="{% static 'makeNews/images/Gmail_icon-min.png' %}" class="icon two" width="50" height="50" alt="mail" id="two" onclick="window.open('mailto:ritikkne@gmail.com', '_blank');"></img>
	  	<img src="images/linkedin_icon-min.png" class="icon three" width="50" height="50" alt="Linkedin" id="three" onclick="window.open('https://www.linkedin.com/in/ritik-kumar-031103147/', '_blank');"></img>
	  	<img src="images/Twitter_icon-min.png" class="icon four" width="50" height="50" alt="Twitter" id="four" onclick="window.open('https://twitter.com/ritikkne', '_blank');"></img>
	  	<img src="images/Maps_icon-min.png" class="icon five" width="50" height="50" alt="Maps" id="five" onclick="window.open('https://www.google.com/maps/place/D+Block/@29.8636351,77.901077,18.68z/data=!4m12!1m6!3m5!1s0x390eb368eac29afd:0x76d405d17fd1e8e4!2sJawahar+Bhawan!8m2!3d29.8634607!4d77.9010242!3m4!1s0x390eb368ec2bf77b:0x1146b95043a2070c!8m2!3d29.863604!4d77.9015536!5m1!1e1', '_blank');"></img>
	  	<img src="images/Quora_icon.png" class="icon six" width="50" height="50" alt="Quora" id="six" onclick="window.open('https://www.quora.com/profile/Ritik-Kumar-187', '_blank');"></img>
	  	<img src="images/fb_icon.png" class="icon seven" width="50" height="50" alt="Fb" id="seven" onclick="window.open('https://www.facebook.com/ritikkne', '_blank');"></img>


  		<div class="name one" id="one" onclick="window.open('https://github.com/dev-ritik', '_blank');">Github</div>
  		<div class="name two" id="two" onclick="window.open('mailto:ritikkne@gmail.com', '_blank');">Gmail</div>
  		<div class="name three" id="three" onclick="window.open('https://www.linkedin.com/in/ritik-kumar-031103147/', '_blank');" onclick="window.open('https://www.linkedin.com/in/ritik-kumar-031103147/', '_blank');">Linkedin</div>
  		<div class="name four" id="four" onclick="window.open('https://twitter.com/ritikkne', '_blank');">Twitter</div>
  		<div class="name five" id="five" onclick="window.open('https://www.google.com/maps/place/D+Block/@29.8636351,77.901077,18.68z/data=!4m12!1m6!3m5!1s0x390eb368eac29afd:0x76d405d17fd1e8e4!2sJawahar+Bhawan!8m2!3d29.8634607!4d77.9010242!3m4!1s0x390eb368ec2bf77b:0x1146b95043a2070c!8m2!3d29.863604!4d77.9015536!5m1!1e1', '_blank');">Maps</div>
	    <div class="name six" id="six" onclick="window.open('https://www.quora.com/profile/Ritik-Kumar-187', '_blank');">Quora</div>
	    <div class="name seven" id="seven" onclick="window.open('https://www.facebook.com/ritikkne', '_blank');">Facebook</div>
	</div>
</div>

</body>
</html>
