<!DOCTYPE html>
<html lang="en">
<head>
    <title>Local Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'makeNews/styles.css' %}" type="text/css"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
            <p>Borrower: {{ fake_news.borrower }}</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
