<!--credits: https://github.com/BlackrockDigital/startbootstrap-heroic-features-->
{% extends "base_news.html" %}
{% load static %}

{% block linkcss %}

<!-- Bootstrap core CSS -->

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">


{% endblock %}
{% block content %}


<!-- Jumbotron Header -->
<header class="jumbotron my-4">
    <h1 class="display-3">Welcome to news!!</h1>
    <p class="lead">A fake news building and hosting website.</p>
</header>

<!-- Page Features -->
<div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'makeNews/images/toi.png' %}" alt="">
            <div class="card-body">
                <h4 class="card-title">Times of India</h4>
                <p class="card-text">The Times of India is a highly reputed frontline Indian newspaper.</p>
            </div>
            <div class="card-footer">
                <a href="makenews/" class="btn btn-primary">Go!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'makeNews/images/eco.png' %}" alt="">
            <div class="card-body">
                <h4 class="card-title">Economic Times</h4>
                <p class="card-text">The Economic Times is the most popular and trusted newspaper brand when it
                    comes to delivering all the news and happenings of the financial world. </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Go!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'makeNews/images/ht.jpeg' %}" alt="">
            <div class="card-body">
                <h4 class="card-title">The Hindustan Times</h4>
                <p class="card-text">The site of The Hindustan Times, one of the prestigious newspapers in the
                    country, welcomes you with the top stories, news and events of the day. </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Go!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="{% static 'makeNews/images/th.png' %}" alt="">
            <div class="card-body">
                <h4 class="card-title">The Hindu</h4>
                <p class="card-text">The Hindu is a celebrated and prestigious name in the history of Indian
                    journalism.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Go!</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}