
body {
	background:url("images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
  	/*background: #222;*/
}

.container {
	float: right;
	position: relative;
	margin-left: 3%;
	margin-right: 3%;
    top: 5vw;
    border-radius: 7%;
    -webkit-filter: drop-shadow(0.5vw 0.5vw 0.8vw #595959);
    filter: drop-shadow(0.5vw 0.5vw 0.8vw #595959);
}

#tab {
    border-radius: 7%;
	max-width: 100%;
    height: auto;
}

#time {
	color: white;
	position: absolute;
    bottom: 47.1%;
	left: 36.5%;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: white;
    letter-spacing: -0.06em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 3vw;
}

.favourites_bar {
	bottom: 11%;
	left: 30%;
	height: 10%;
	width: 10%;
  	display: grid;
  	grid-template-columns: 48% 48% 48% 48% 48% 48% 48%;
  	grid-template-rows: auto auto;
  	grid-gap: 10%;
  	position: absolute;

  	-webkit-transition: bottom 0.5s ease , left 0.5s ease 0s, width 0.4s ease 0.1s, grid-gap 0.3s ease 0.3s;
	-moz-transition: bottom 0.5s ease , left 0.5s ease 0s, width 0.4s ease 0.1s, grid-gap 0.3s ease 0.3s;
	-o-transition: bottom 0.5s ease , left 0.5s ease 0s, width 0.4s ease 0.1s, grid-gap 0.3s ease 0.3s;
	-ms-transition: bottom 0.5s ease , left 0.5s ease 0s, width 0.4s ease 0.1s, grid-gap 0.3s ease 0.3s;
    transition: bottom 0.5s ease , left 0.5s ease 0s, width 0.4s ease 0.1s, grid-gap 0.3s ease 0.3s;
}
.favourites_bar > .icon {
    height: auto;
    max-width: 100%;
    background-position: center;
    background-size: 100%;
    border-radius: 20%;
}

.favourites_bar > .icon:hover {
	opacity: 0.75;
	box-shadow: 0.2vw 0.2vw LightGray;

}
.favourites_bar > .icon:active {
	opacity: 1;
	box-shadow: 0.1vw 0.1vw Gray;

}

.favourites_bar > .name {
	overflow: hidden;
    text-overflow:ellipsis;
	height: 100%;
	width: 100%;
    text-align: center;
    font-family: 'Cookie', cursive;
  	font-size: 1.15vw;
    color: white;
}

#myframe {
	bottom: 9.6%;
	left: 5.8%;
	height: 81.8%;
	width: 89%;
  	position: absolute;
  	overflow: hidden;
  	
  	-webkit-transition: bottom 0.5s ease,left 0.5s ease,height 0.5s ease,width 0.5s ease;
	-moz-transition: bottom 0.5s ease,left 0.5s ease,height 0.5s ease,width 0.5s ease;
	-o-transition: bottom 0.5s ease,left 0.5s ease,height 0.5s ease,width 0.5s ease;
	-ms-transition: bottom 0.5s ease,left 0.5s ease,height 0.5s ease,width 0.5s ease;
    transition: bottom 0.5s ease,left 0.5s ease,height 0.5s ease,width 0.5s ease;
}

.icon_hover {
	opacity: 0.7;
    cursor: pointer;
	box-shadow: 0.2vw 0.2vw LightGray;
}
.name.name_hover {
	font-size: 1vw;
    color: Gainsboro;
    cursor: pointer;
 }

.shadows {
    position: absolute;
    bottom: 47.1%;
	left: 36.5%;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: white;
    letter-spacing: -0.06em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 3vw;
    
    -webkit-transition: all 0.25s ease-out;
	-moz-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	-ms-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    
    -webkit-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
	-moz-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
	-o-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
	-ms-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
	transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
}
.shadows:hover {
    text-shadow: -16px 6px 15px #ced0d3;
}

.about {
  	font-family: 'Raleway', sans-serif;
	bottom: 39.6%;
	left: 20%;
	color: #aaa;
  	position: absolute;
  	overflow: hidden;
  	font-weight: 330;
  	font-size: 2vw; 
  	margin-left: 75px;

  	-webkit-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
	-moz-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
	-o-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
	-ms-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
	transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
}

@media screen and (max-width: 425px) {
	/*mobile version*/

    body {
    	background-image: none;
	  	background: #1B2735;
  		overflow:hidden;
	}

	.container {
		height: 100vh;
	    width: 100vw; 
		margin-left: 0px;
		margin-right: 0px;
		background-color: #1B2735;
		float: none;
		position: absolute;
		top: 0px;
	    border-radius: 0px;
    	filter: none;
	}

	#tab {
	    visibility: hidden;
	}

	.favourites_bar {
		bottom: 0%;
		margin-bottom: 35px;
		left: 5%;
		width: 12%;
	  	display: grid;
	  	grid-template-columns: 88% 88% 88% 88% 88% 88% 88%;
	  	grid-template-rows: auto auto;
	  	grid-gap: 18%;
	  	position: absolute;

	  	-webkit-transition: bottom 0.5s ease , left 0.5s ease 0s, width 0.4s ease 0.1s, grid-gap 0.3s ease 0.3s;
		-moz-transition: bottom 0.5s ease , left 0.5s ease 0s, width 0.4s ease 0.1s, grid-gap 0.3s ease 0.3s;
		-o-transition: bottom 0.5s ease , left 0.5s ease 0s, width 0.4s ease 0.1s, grid-gap 0.3s ease 0.3s;
		-ms-transition: bottom 0.5s ease , left 0.5s ease 0s, width 0.4s ease 0.1s, grid-gap 0.3s ease 0.3s;
    	transition: bottom 0.5s ease , left 0.5s ease 0s, width 0.4s ease 0.1s, grid-gap 0.3s ease 0.3s;

	}
	.favourites_bar > .icon {
	    height: auto;
	    max-width: 100%;
	    background-position: center;
	    background-size: 100%;
	    border-radius: 20%;
	}

	.favourites_bar > .icon:hover {
		opacity: 0.75;
		box-shadow: 0.4vw 0.4vw LightGray;

	}
	.favourites_bar > .icon:active {
		opacity: 1;
		box-shadow: 0.2vw 0.2vw Gray;
	}

	.favourites_bar > .name {
		overflow: hidden;
	    text-overflow:ellipsis;
		height: 100%;
		width: 100%;
	    text-align: center;
	    font-family: 'Cookie', cursive;
	  	font-size: 4vw;
	    color: white;
	}

	#myframe {
		bottom: 0%;
		left: 0%;
		height: 100vh;
		width: 100vw;
	  	position: absolute;
	  	overflow: hidden;

	  	-webkit-transition: bottom 0.5s ease,left 0.5s ease,height 0.5s ease,width 0.5s ease;
		-moz-transition: bottom 0.5s ease,left 0.5s ease,height 0.5s ease,width 0.5s ease;
		-o-transition: bottom 0.5s ease,left 0.5s ease,height 0.5s ease,width 0.5s ease;
		-ms-transition: bottom 0.5s ease,left 0.5s ease,height 0.5s ease,width 0.5s ease;
    	transition: bottom 0.5s ease,left 0.5s ease,height 0.5s ease,width 0.5s ease;
	}

	.icon_hover {
		opacity: 0.75;
	    cursor: pointer;
		box-shadow: 0.4vw 0.4vw LightGray;
	}
	.name.name_hover {
		font-size: 3vw;
	    color: Gainsboro;
	    cursor: pointer;
	 }

	.shadows {
	    position: absolute;
	    bottom: 46%;
		left: 30%;
	    text-transform: uppercase;
	    text-shadow: -15px 5px 20px #ced0d3;
	    color: white;
	    letter-spacing: -0.06em;
	    font-family: 'Anton', Arial, sans-serif;
	    user-select: none;
	    text-transform: uppercase;
	    font-size: 5.5vw;

	    -webkit-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
		-moz-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
		-o-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
		-ms-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
	    transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
	}
	.shadows:hover {
	    text-shadow: -16px 6px 15px #ced0d3;
	}

	.about {
	  font-family: 'Raleway', sans-serif;
		bottom: 38%;
		left: 13.3%;
		color: #aaa;
	  	overflow: hidden;
	  	font-weight: 330;
	  	font-size: 4.5vw; 
	  	margin-left: 0px;

	  	-webkit-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
		-moz-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
		-o-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
		-ms-transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
	    transition: bottom 0.4s ease,left 0.4s ease,font-size 0.4s ease;
	}
}
